.milkdown {
  margin: 1rem 0;
}

.milkdown .editor {
  background-color: rgb(46, 44, 44);
  height: 100%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 758px;
  overflow: visible !important;
  position: relative;
}

.milkdown .editor h1 {
  font-weight: 900;
}

.milkdown .editor .code-fence{
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.milkdown .editor .code-fence .code-fence_selector-wrapper . {
  padding: 0px;
  margin: 0px;
}
