.milkdown {
  margin: 1rem 0;
}

.milkdown .editor {
  background-color: rgb(46, 44, 44);
  height: 100%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 758px;
  overflow: visible !important;
  position: relative;
}

.milkdown .editor h1 {
  font-weight: 900;
}

.milkdown .editor .code-fence{
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(54, 49, 49, 0.04);
  border-radius: 3px
}

.milkdown .editor .code-fence pre{
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: red;
  border: 0;
}
.milkdown .editor .code-fence .code-fence_selector-wrapper .icon {
  display: none;
}
